.rightline {
    width: 38%;
    border-right: 1px solid #544679;
}
.profile_pic {
display: inline-block;
width: 175px;
height: auto;
border: 2px solid #544679;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
margin-top: 10px;
border-radius: 50%;
box-shadow: 4px 4px 10px #666;
}