    <div class="row placeholders">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="panel-title">
                        <div class="text-left h3 col-md-4">Abdul Hadi Mohammed Alaidi</div>
                        <div class="text-right h3 col-md-8">Director of the Computer and Informatics Center - Wasit University</div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-xs-6 col-sm-3 placeholder rightline">
                    <img src="/img/abdulhadi1.jpg" class="img-responsive profile_pic" alt="Abdul Hadi Alaidi"/>
                </div>
                <div class="col-xs-6 col-sm-6 placeholder">
                   <h4 class="text-left">Email:alaidi@uowasit.edu.iq</h4>
                    <h3>Biography</h3>
                    <h4 class="text-left">M.S., Computer Science, School of Engineering and Computer Science, University Of Bridgeport, CT, United States, 2014.</h4>
                    <h4 class="text-left">B.Sc., Computer Science , School of Science, Mustansiriya University, 2007.</h4>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">

        </div>
    </div>