  <footer class="page-footer orange">
<style>
    .page__footer-follow a {
    color: inherit;
    text-decoration: none;
}
</style>
    <div class="footer-copyright">
        <div class="container">
            <div>
                Made by <a target="_blank" class="orange-text text-lighten-3" href="http://alaidi.net">abdul hadi</a>
                <span style="text-align: right; float: right">
                        <div class="page__footer-follow">
                                  {% if site.data.ui-text[site.locale].follow_label %}
                                   <strong></strong>{{ site.data.ui-text[site.locale].follow_label }}</strong>
                                  {% endif %}
                                  {% if site.twitter.username %}
                                   <a href="https://twitter.com/{{ site.twitter.username }}"><i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a>
                                  {% endif %}
                                  {% if site.facebook.username %}
                                   <a href="https://facebook.com/{{ site.facebook.username }}"><i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a>
                                  {% endif %}
                                  {% if site.author.github %}
                                   <a href="http://github.com/{{ site.author.github }}"><i class="fa fa-fw fa-github" aria-hidden="true"></i> GitHub</a>
                                  {% endif %}
                                  {% if site.author.bitbucket %}
                                    <a href="http://bitbucket.org/{{ site.author.bitbucket }}"><i class="fa fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket</a>
                                  {% endif %}
                                 <a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a>
                              </div>
                </span>
            </div>
        </div>
    </div>
</footer>