<!DOCTYPE html>
<html lang="en">
<head>
  {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/dashboard.css" rel="stylesheet" type="text/css">
</head>

<body>

   {% include navbar.html %}

    <div class="container-fluid">
        <div class="row">
    {% include sidebar.html %}



  