<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" class="brand-logo" href="{{ " / " | relative_url }}">Home</a>

        <ul class="right hide-on-med-and-down row">
            <li>
                <a href="{{ " / " | relative_url }}">Home</a>
            </li>
            {% for link in site.data.navigation.main %} {% if link.url contains 'http' %} {% assign domain = '' %} {% else %} {% assign
            domain = base_path %} {% endif %}
            <li>
                <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endfor %}
            <li>

<div class="nav-wrapper">
                <form action="" method="GET">
                    <div class="input-field">
                        <label class="label-icon" for="search">
                            <i class="material-icons">search</i>
                        </label>
                        <i class="material-icons">close</i>
                        <input id="search" type="search" required  name="q">

                    </div>
                </form>
            </div>
            </li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li>
                <a href="#">Home</a>
            </li>
            {% for link in site.data.navigation.main %} {% if link.url contains 'http' %} {% assign domain = '' %} {% else %} {% assign
            domain = base_path %} {% endif %}
            <li>
                <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endfor %}

        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>


{% include base_path %}