---
layout: default
---
<style>
  .right {
    direction: rtl;
}
</style>

  <div class="container">
    <br/>
    <div class="section">

      <!--   Icon Section   -->

      <div class="row">
          <!--   First Course   -->
          <div class="col s12 m4">
          <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/network.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Computer Network<i class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Computer Network<i class="material-icons right">close</i></span>
                <p>In this course, you will learn the network fundamental.This course aims to
                    provide you with a knowledge to understand a range aspects of computer
                    networking. Moreover, you will learn the network model.</p>
                    <p class="right ">
                        في هذا الكورس سوف تتعلم اساسيات الشبكات وتهدف المحاضرات إلى تزويدك بمعرفة لفهم الجوانب النظرية والعملية لشبكات الحاسوب وعلاوة على ذلك، سوف تتعلم نموذج الشبكة وطبقاتها.
                    </p>
                <p>
                    <a class="waves-effect waves-light btn amber lighten-3" href="/2017-2018/Computer-Network/"><i class="material-icons left">arrow_forward</i>Go to Class</a></p>

              </div>
              <div class="card-action">
                <a  href="/2017-2018/Computer-Network/"><i class="material-icons left">arrow_forward</i>Go to Class</a></p>
              </div>
            </div>
           </div>
            <!--   Second Course   -->
           <div class="col s12 m4">
              <div class="card hoverable">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/database.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Database Deign<i class="material-icons right">more_vert</i></span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Database Deign<i class="material-icons right">close</i></span>
                    <p>This course will introduce students to the basics of the Structured Query Language (SQL) as well as basic database design (Entity Model) for storing data as part of a multi-step data gathering, analysis, and processing effort.

                        </p>
                        <p class="right-align">
                            في هذا الكورس سوف تتعلم اساسيات لغة الاستعلام المنظمة (SQL) وكذلك تصميم قاعدة البيانات الأساسية (نموذج الكيان) لتخزين البيانات كجزء من جمع البيانات متعددة الخطوات، وتحليل، ومعالجة.                        </p>
                    <p>
                        <a class="waves-effect waves-light btn amber lighten-3" href="/2017-2018/Database-Design/"><i class="material-icons left">arrow_forward</i>Go to Class</a></p>

                  </div>
                  <div class="card-action">
                    <a  href="/2017-2018/Database-Design/"><i class="material-icons left">arrow_forward</i>Go to Class</a></p>
                  </div>
                </div>
               </div>
                <!--   Third Course   -->
               <div class="col s12 m4">
                  <div class="card hoverable">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="images/Digital.jpg">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Digital Techniques<i class="material-icons right">more_vert</i></span>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Digital Techniques<i class="material-icons right">close</i></span>
                        <p>In this course, you will learn the network fundamental.This course aims to
                            provide you with a knowledge to understand a range aspects of computer
                            networking. Moreover, you will learn the network model.</p>
                            <p class="">
                                في هذا الكورس سوف تتعلم اساسيات الشبكات وتهدف المحاضرات إلى تزويدك بمعرفة لفهم الجوانب النظرية والعملية لشبكات الحاسوب وعلاوة على ذلك، سوف تتعلم نموذج الشبكة وطبقاتها.
                            </p>
                        <p>
                            <a class="waves-effect waves-light btn amber lighten-3" href="/2017-2018/Computer-Network/"><i class="material-icons left">arrow_forward</i>Go to Class</a></p>

                      </div>
                      <div class="card-action">
                        <a  href="/2017-2018/Computer-Network/"><i class="material-icons left">arrow_forward</i>Go to Class</a></p>
                      </div>
                    </div>
                   </div>
                    <!--   Forth Course   -->
                   <div class="col s12 m4">
                      <div class="card hoverable ">
                          <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/database.jpg">
                          </div>
                          <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">
                              Systems and databases analysis<i class="material-icons right">more_vert</i></span>
                          </div>
                          <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Systems and databases analysis<i class="material-icons right">close</i></span>
                            <p>This course will introduce students to the basics of the Structured Query Language (SQL) as well as basic database design (Entity Model) for storing data as part of a multi-step data gathering, analysis, and processing effort.

                                                      </p>
                                                      <p class="right-align right">
                                                          في هذا الكورس سوف تتعلم اساسيات لغة الاستعلام المنظمة (SQL) وكذلك تصميم قاعدة البيانات الأساسية (نموذج الكيان) لتخزين البيانات كجزء من جمع البيانات متعددة الخطوات، وتحليل، ومعالجة.                        </p>
                                                  <p>

                          </div>
                          <div class="card-action">
                            <a  href="/2017-2018/Systems-and-databases-analysis/"><i class="material-icons left">arrow_forward</i>Go to Class</a></p>
                          </div>
                        </div>
                       </div>

      </div>


    </div>

  </div>