---
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
       {% include head.html %}
    {% include head/custom.html %}

 <link rel="stylesheet" href="{{ base_path }}/assets/css/quiz/slickQuiz.css">

  </head>

  <body id="slickQuiz" class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

    {% include browser-upgrade.html %}
    {% include masthead.html %}
{% include base_path %}
<div id="main" role="main">
<h1 class="quizName"><!-- where the quiz name goes --></h1>

<div class="quizArea">
            <div class="quizHeader">
                <!-- where the quiz main copy goes -->
 <a class="btn  startQuiz" href="#">Get Started!</a>
</div>

            <!-- where the quiz gets built -->
</div>

<div class="quizResults">
<h3 class="quizScore">You Scored: <span><!-- where the quiz score goes --></span></h3>

<h3 class="quizLevel"><strong>Ranking:</strong> <span><!-- where the quiz ranking level goes --></span></h3>

<div class="quizResultsCopy">
<!-- where the quiz result copy goes -->
</div>
</div>
 Go to course home page  <a href="{{ site.baseurl }}/2016-2017/Digital-Techniques/">digital-techniques</a>
</div>
<script src="{{ base_path }}/assets/js/quiz/jquery.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    {{ content }}
<script src="{{ base_path }}/assets/js/quiz/slickQuiz.js"></script>
<script src="{{ base_path }}/assets/js/quiz/master.js"></script>


  


    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>
  </body>
</html>
